[Desktop Entry]
Name=On Blast
Comment=Inline panel track info and controls via MPRIS
Type=Application
Icon=io.github.cosmic-ext-applet-on-blast-symbolic
Exec=cosmic-ext-applet-on-blast
Terminal=false
StartupNotify=true
Categories=COSMIC;
Keywords=COSMIC;Applet;Music;Media;MPRIS;On Blast;
NoDisplay=true
X-CosmicApplet=true
